<mat-card *ngFor="let workoutView of allWorkoutsForUser | async">
  <mat-card-title>{{workoutView.referenceName}}</mat-card-title>
  <mat-card-subtitle>{{workoutView.daysPerWeek > 1 ? workoutView.daysPerWeek + ' days' : workoutView.daysPerWeek + ' day'}}
    per week<br>
    Workout started on: {{workoutView.startedDate | date}}
  </mat-card-subtitle>
  <mat-card-actions>
    <button mat-button (click)="openCompletedWorkoutDialog(workoutView)">See exercises</button>
  </mat-card-actions>
</mat-card>
