.select-exercises-dialog {
  display: flex;
  flex-direction: row;
}

.exercise-list-container {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
}

.hold-filter-container {
  width: fit-content;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

.filter-container {
  overflow-y: hidden !important;
}

.hide-show-filter {
  margin-bottom: 15px;
}

mat-selection-list {
  outline-color: white;
}

span {
  text-align: center;
}

.mat-raised-button {
  margin: 5px 15px 0 40px;
  position: center;
  background-color: rgba(81,45,168,0.51);
}

mat-divider {
  background-color: rgba(239, 229, 253, 0.51);
}
