.show-current-workout-container {
  float: left;
  max-height: 95%;
  padding: 15px;
  /*border: 1px outset black;*/
  box-shadow: 1px 1px 1px black;
  border-radius: 5px;
  background-color: rgba(255, 248, 225, 0.9);
  margin: 10px 5px 0;
  display: inline-flex;
  flex-direction: row;
}

mat-tab-group {
  width: 95%;
  margin-left: 25px;
}

::ng-deep.mat-tab-label {
  font-size: 16px;
  font-weight: bolder;
  color: black;
  letter-spacing: 0.15em;
}

.config {
  padding: 0 15px 15px 0;
  display: inherit;
  flex-direction: inherit;
  overflow-y: auto;
  overflow-x: auto;
  background-color: #fff8e1;
}

.exercise {
  min-width: 195px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  border-bottom: 1px solid #efe5fd;
  font-weight: bolder;
}

.set, .rpe, .rest, .weight-reps {
  margin: 5px;
  min-width: 75px;
  padding: 4px;
  border-bottom: 1px solid #e1e2e1;
  font-weight: bolder;
  text-align: center;
}

td.weight-reps {
  min-width: 100px;
  border-right: 1px solid #e1e2e1;
  padding: 0;
  text-align: center;
  font-weight: normal;
}

td, .set, .exercise, .rest {
  border-right: 1px solid #e1e2e1;
}


th {
  border-bottom: 5px solid #445963 !important;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

th.no-border {
  border-bottom: none !important;
  border-right: none !important;
}

th.exercise, th.set, th.rest {
  border-right: none !important;
}

table {
  border-spacing: 0;
}

.bottom-of-exercise{
  border-bottom: 1px solid #556870 !important;
}

.sticky {
  position: sticky;
  left: 0;
  top: auto;
  background-color: #fff8e1;
}

.sticky2 {
  position: sticky;
  left: 206px;
  top: auto;
  background-color: #fff8e1;
}

.sticky3 {
  position: sticky;
  left: 290px;
  top: auto;
  background-color: #fff8e1;
}

input {
  border: none !important;
  background-color: inherit !important;
  text-align: center;
  color: black;
  font-size: 16px;
  font-family: 'Helvetica Neue', sans-serif;
  max-width: 90% !important;
  max-height: 90% !important;
}

.save-workout-button {
  display: flex;
  flex-direction: column;
}

.mat-raised-button {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.15em;
  box-shadow: 2px 2px 1px #1c1a1a;
  border-radius: 8px;
  margin: 15px auto;
  padding: 15px
}

.previous-weeks {
  color: rgba(0, 0, 0, 0.72);
}
