<mat-toolbar color="primary-dark">
  <mat-toolbar-row class="upper-row">
    <a
      *ngIf="authenticationService.isUserLoggedIn()"
      routerLink="">
      <mat-icon>house</mat-icon>
    </a>

    <span class="logo">
          <a href="https://nl.wikipedia.org/wiki/Dommel_(stripfiguur)">
            Semaforce
          </a>
    </span>

    <mat-spinner
      diameter="35"
      color="'white'"
      *ngIf="displaySpinnerService.displaySpinner"></mat-spinner>

  </mat-toolbar-row>

  <mat-toolbar-row
    *ngIf="authenticationService.isUserLoggedIn()"
    class="second-row">

    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon class="menu-icon">menu</mat-icon> Menu
    </button>

    <mat-menu #menu="matMenu">
      <a
        class="header-item"
        routerLink="/workouts/home" mat-menu-item>Workout Center</a>

      <mat-divider></mat-divider>

      <a
        class="header-item"
        routerLink="/results" mat-menu-item>Results Center</a>

      <mat-divider></mat-divider>

      <a
        class="header-item"
        routerLink="/admin/home" mat-menu-item>Admin</a>
    </mat-menu>

    <span class="spacer"></span>

    <a class="header-item" routerLink="/logout">
      Log Out
    </a>

  </mat-toolbar-row>

</mat-toolbar>

