.inner {
  text-align: center;
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
}

.upper {
  background-color: rgba(255, 242, 223, 0.31);
  max-width: 300px;
}

mat-icon {
  font-size: 400%;
}


