<mat-toolbar color="primary-dark">
  <mat-toolbar-row class="upper-row">
    <button mat-button class="menu-button"
      (click)="sidenav.toggle()">
      <mat-icon class="menu-icon">menu</mat-icon>
    </button>
    <a routerLink="/home"
       class="header-logo">
      Semaforce
    </a>

    <span class="logo"></span>

    <div class="header-spinner"
      *ngIf="displaySpinnerService.displaySpinner">
      <mat-spinner
        diameter="35"
        color="warn">
      </mat-spinner>
    </div>
    <a class="header-item" routerLink="/logout">
      Log Out
    </a>
  </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container class="side-nav-container">
  <mat-sidenav #sidenav
    class="side-nav"
    [opened]="(isWeb$ | async)"
    [mode]="!(isWeb$ | async) ? 'over' : 'side'"
    [fixedInViewport]="true"
    [fixedTopGap]="(isWeb$ | async) ? 70 : 0"
    [fixedBottomGap]="(isWeb$ | async) ? 55: 0"
    [class.small-screen-sidenav]="(isWeb$ | async)">


    <div class="mat-nav-header">
      <img alt="profile picture" class="avatar-image" src="../assets/semafoor.jpg">
      <h3 class="username">{{currentUser?.username || 'Username' }}</h3>
      {{currentUser?.email || 'Email' }}
    </div>
    <mat-divider></mat-divider>

    <mat-nav-list>
      <mat-accordion>
        <a routerLink="/workouts/home"
           routerLinkActive="selectedOption"
          [routerLinkActiveOptions]="{exact: true}"
           mat-list-item>Workout Center
        </a>

        <ul>

          <li>

            <a class="workout-menu-item"
               routerLinkActive="selectedOption"
              [routerLinkActiveOptions]="{exact: true}"
              [routerLink]="'/workouts/current_workout'">
              Current Workout
            </a>

          </li>

          <li>

            <a class="workout-menu-item"
               routerLinkActive="selectedOption"
              [routerLinkActiveOptions]="{exact: true}"
              [routerLink]="'/workouts/instant_workout'">
              Instant Training
            </a>

          </li>

          <li>
            <a
              routerLinkActive="selectedOption"
              [routerLinkActiveOptions]="{exact: true}"
              class="workout-menu-item"
              routerLink="/workouts/create_workout">
              Create new
            </a>
          </li>

          <li>
            <a
              routerLinkActive="selectedOption"
              class="workout-menu-item"
              routerLink="/workouts/previous_workouts">
              Previous
            </a>
          </li>
        </ul>


        <mat-divider></mat-divider>

        <a routerLink="/results"
           routerLinkActive="selectedOption"
          [routerLinkActiveOptions]="{exact: true}"
           mat-list-item>Results Center
        </a>

        <ul>
          <li>
            <a routerLink="/results/goals"
               routerLinkActive="selectedOption"
              [routerLinkActiveOptions]="{exact: true}">
              Goals
            </a>
          </li>
          <li>
            <a routerLink="/results/progression"
               routerLinkActive="selectedOption"
              [routerLinkActiveOptions]="{exact: true}">
              Progression
            </a>
          </li>
        </ul>

        <mat-divider></mat-divider>

        <a mat-list-item routerLink="/admin/home"
           routerLinkActive="selectedOption"
          [routerLinkActiveOptions]="{exact: true}">
          Admin
        </a>
        <ul>
          <li>
            <mat-expansion-panel class="sub-menu-expansion-panel" hideToggle="true">
              <mat-expansion-panel-header collapsedHeight="'auto'"
                                          expandedHeight="'auto'">
                <mat-panel-title>
                  Users
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-action-row>
                <a
                  routerLinkActive="selectedOption"
                  [routerLinkActiveOptions]="{exact: true}"
                  class="sub-menu-item"
                  routerLink="/admin/users">
                  Overview
                </a>

              </mat-action-row>

              <mat-action-row>
                Statistics
              </mat-action-row>
            </mat-expansion-panel>
          </li>

          <li>
            <mat-expansion-panel class="sub-menu-expansion-panel" hideToggle="true">
              <mat-expansion-panel-header collapsedHeight="'auto'"
                                          expandedHeight="'auto'">
                <mat-panel-title>
                  Exercises
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-action-row>
                <a
                  routerLinkActive="selectedOption"
                  [routerLinkActiveOptions]="{exact: true}"
                  class="sub-menu-item"
                  routerLink="/admin/exercise">Overview
                </a>
              </mat-action-row>

              <mat-action-row>
                <a
                  routerLinkActive="selectedOption"
                  [routerLinkActiveOptions]="{exact: true}"
                  class="sub-menu-item"
                  routerLink="/admin/add-exercise">Add Exercise
                </a>
              </mat-action-row>

              <mat-action-row>
                Statistics
              </mat-action-row>
            </mat-expansion-panel>
          </li>

          <li>
            <mat-expansion-panel class="sub-menu-expansion-panel" hideToggle="true">
              <mat-expansion-panel-header collapsedHeight="'auto'"
                                          expandedHeight="'auto'">
                <mat-panel-title>
                  Muscles
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-action-row>
                <a
                  routerLinkActive="selectedOption"
                  [routerLinkActiveOptions]="{exact: true}"
                  class="sub-menu-item"
                  routerLink="/admin/muscle">Overview
                </a>
              </mat-action-row>

              <mat-action-row>
                <a
                  routerLinkActive="selectedOption"
                  [routerLinkActiveOptions]="{exact: true}"
                  class="sub-menu-item"
                  routerLink="/admin/add-muscle">Add Muscle
                </a>
              </mat-action-row>
            </mat-expansion-panel>
          </li>
        </ul>
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
    <mat-toolbar class="footer">
      <div class="footer-content">
        <span class="text-muted">All Rights Reserved 2019 @Semaforce</span>
      </div>

    </mat-toolbar>
  </mat-sidenav-content>


</mat-sidenav-container>
