<mat-toolbar color="primary-dark">
  <mat-toolbar-row class="upper-row">
    <a
      *ngIf="authenticationService.isUserLoggedIn()"
      routerLink="/home">
      <mat-icon>house</mat-icon>
    </a>


    <span class="logo">
      <a href="https://nl.wikipedia.org/wiki/Dommel_(stripfiguur)">
        Semaforce
      </a>
    </span>

    <mat-spinner
      diameter="35"
      color="'white'"
      *ngIf="displaySpinnerService.displaySpinner"></mat-spinner>

  </mat-toolbar-row>

  <mat-toolbar-row
    *ngIf="authenticationService.isUserLoggedIn()"
    class="second-row">

    <button mat-button
      *ngIf="authenticationService.isUserLoggedIn()"
      (click)="sidenav.toggle()">
      <mat-icon class="menu-icon">menu</mat-icon>
      Menu
    </button>

    <span class="spacer"></span>

    <a class="header-item" routerLink="/logout">
      Log Out
    </a>

  </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container class="side-nav-container">
  <mat-sidenav #sidenav
    class="side-nav"
    [opened]="(isWeb$ | async) && authenticationService.isUserLoggedIn()"
    [mode]="!(isWeb$ | async) ? 'over' : 'side'"
    [fixedInViewport]="true"
    [fixedTopGap]="(isWeb$ | async) ? 105 : 0"
    [fixedBottomGap]="(isWeb$ | async) ? 55: 0"
    [class.small-screen-sidenav]="(isWeb$ | async)">


    <div class="mat-nav-header">
      <img alt="profile picture" class="avatar-image" src="../assets/semafoor.jpg">
      <h3 class="username">{{currentUser?.username || 'Username' }}</h3>
      {{currentUser?.email || 'Email' }}
    </div>
    <mat-divider></mat-divider>

    <mat-nav-list>
      <mat-accordion>
        <a routerLink="/workouts/home"
          (click)="setSelectedOption(1)"
          [class.selectedOption]="selectedOption === 1"
           mat-list-item>Workout Center</a>

        <ul>

          <li>
            <mat-expansion-panel class="sub-menu-expansion-panel" hideToggle="true">
              <mat-expansion-panel-header collapsedHeight="'auto'"
                                          expandedHeight="'auto'">
                <mat-panel-title>
                  Current
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-action-row *ngFor="let day of dayNumber">
                <a class="sub-menu-item"
                  (click)="setSelectedOption(1000 + day)"
                  [class.selectedOption]="selectedOption === (1000 + day)"
                  [routerLink]="'/workouts/current_workout/' + day">
                  Day {{day}}
                </a>
              </mat-action-row>
            </mat-expansion-panel>
          </li>

          <li>
            <a
              (click)="setSelectedOption(3)"
              [class.selectedOption]="selectedOption === 3"
              class="workout-menu-item"
              routerLink="/workouts/create_workout">
              Create new
            </a>
          </li>

          <li>
            <a
              (click)="setSelectedOption(4)"
              [class.selectedOption]="selectedOption === 4"
              class="workout-menu-item"
              routerLink="/workouts/previous_workouts">
              Previous
            </a>
          </li>
        </ul>


        <mat-divider></mat-divider>

        <a routerLink="/results"
          (click)="setSelectedOption(5)"
          [class.selectedOption]="selectedOption === 5"
           mat-list-item>Results Center</a>

        <ul>
          <li>
            <a routerLink="/results/goals"
              (click)="setSelectedOption(6)"
              [class.selectedOption]="selectedOption === 6">Goals</a>
          </li>
          <li>
            <a routerLink="/results/progression"
              (click)="setSelectedOption(7)"
              [class.selectedOption]="selectedOption === 7">Progression</a>
          </li>
        </ul>

        <mat-divider></mat-divider>

        <a mat-list-item routerLink="/admin/home"
          (click)="setSelectedOption(8)"
          [class.selectedOption]="selectedOption === 8">Admin</a>
        <ul>
          <li>
            <mat-expansion-panel class="sub-menu-expansion-panel" hideToggle="true">
              <mat-expansion-panel-header collapsedHeight="'auto'"
                                          expandedHeight="'auto'">
                <mat-panel-title>
                  Users
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-action-row>
                <a
                  (click)="setSelectedOption(10)"
                  [class.selectedOption]="selectedOption === 10"
                  class="sub-menu-item"
                  routerLink="/admin/users">
                  Overview
                </a>

              </mat-action-row>

              <mat-action-row>
                Statistics
              </mat-action-row>
            </mat-expansion-panel>
          </li>

          <li>
            <mat-expansion-panel class="sub-menu-expansion-panel" hideToggle="true">
              <mat-expansion-panel-header collapsedHeight="'auto'"
                                          expandedHeight="'auto'">
                <mat-panel-title>
                  Exercises
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-action-row>
                <a
                  (click)="setSelectedOption(12)"
                  [class.selectedOption]="selectedOption === 12"
                  class="sub-menu-item"
                  routerLink="/admin/exercise"> Overview </a>
              </mat-action-row>

              <mat-action-row>
                <a
                  (click)="setSelectedOption(13)"
                  [class.selectedOption]="selectedOption === 13"
                  class="sub-menu-item"
                  routerLink="/admin/add-exercise"> Add Exercise </a>
              </mat-action-row>

              <mat-action-row>
                Statistics
              </mat-action-row>
            </mat-expansion-panel>
          </li>

          <li>
            <mat-expansion-panel class="sub-menu-expansion-panel" hideToggle="true">
              <mat-expansion-panel-header collapsedHeight="'auto'"
                                          expandedHeight="'auto'">
                <mat-panel-title>
                  Muscles
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-action-row>
                <a
                  (click)="setSelectedOption(15)"
                  [class.selectedOption]="selectedOption === 15"
                  class="sub-menu-item"
                  routerLink="/admin/muscle"> Overview </a>
              </mat-action-row>

              <mat-action-row>
                <a
                  (click)="setSelectedOption(16)"
                  [class.selectedOption]="selectedOption === 16"
                  class="sub-menu-item"
                  routerLink="/admin/add-muscle"> Add Muscle </a>
              </mat-action-row>
            </mat-expansion-panel>
          </li>
        </ul>
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
    <mat-toolbar class="footer">
      <div class="footer-content">
        <span class="text-muted">All Rights Reserved 2019 @Semaforce</span>
      </div>

    </mat-toolbar>
  </mat-sidenav-content>


</mat-sidenav-container>
