<mat-toolbar color="primary-dark">
  <mat-toolbar-row class="upper-row">


    <span class="logo">
      <a class="logo-link" href="https://nl.wikipedia.org/wiki/Dommel_(stripfiguur)">
        Semaforce
      </a>
    </span>

    <mat-spinner
      diameter="35"
      color="'white'"
      *ngIf="spinnerService.displaySpinner"></mat-spinner>

  </mat-toolbar-row>

</mat-toolbar>

<form novalidate #form="ngForm" (ngSubmit)="checkLogin()">
  <div class="upper">
    <div class="container">

      <mat-form-field>
        <input type="text"
               name="username"
               [(ngModel)]="username"
               class="form-control"
               id="username"
               matInput placeholder="Username"
               required>
      </mat-form-field>

      <mat-form-field>
        <input type="password"
               name="password"
               [(ngModel)]="password"
               class="form-control"
               id="password"
               matInput placeholder="Password"
               required
               minlength="8">
      </mat-form-field>

      <button mat-raised-button
              color="primary"
              [disabled]="form.invalid"
              (click)="checkLogin()">
        Login
      </button>

      <div class="register">
        Click <a routerLink="/register">here</a> to create an account.
      </div>

    </div>

  </div>
</form>

<mat-toolbar class="footer">
  <div class="footer-content">
    <span class="text-muted">All Rights Reserved 2019 @Semaforce</span>
  </div>

</mat-toolbar>






