<mat-toolbar color="primary-dark">
  <mat-toolbar-row class="upper-row">


    <span class="logo">
      <a class="logo-link" href="https://nl.wikipedia.org/wiki/Dommel_(stripfiguur)">
        Semaforce
      </a>
    </span>

    <mat-spinner
      diameter="35"
      color="'white'"
      *ngIf="spinnerService.displaySpinner"></mat-spinner>

  </mat-toolbar-row>

</mat-toolbar>

<div class="upper">
  <div class="container">

    <form novalidate [formGroup]="form" (ngSubmit)="createUser(form)">
      <div
        *ngFor="let control of form.accountRegistrationControls">
        <mat-form-field>
          <label>
            <input type="{{control.type}}"
                   matInput placeholder="{{control.label}}"
                   name="{{control.property}}"
                   formControlName="{{control.property}}"
            (input)="user.info[control.property] !== undefined ?  user.info[control.property] = control.value : user[control.property] = control.value"/>
          </label>
        </mat-form-field>
        <ul *ngIf="(submitAttempted || control.dirty) && control.invalid">
          <mat-error *ngFor="let error of control.getValidationErrorMessages()">
            - {{error}}
          </mat-error>
        </ul>
      </div>
      <button mat-raised-button
              color="primary"
              [disabled]="form.invalid"
              type="submit"> Register</button>
    </form>

    <div class="backLogin">
      Click <a routerLink="/login">here</a> to go back to the login screen.
    </div>
  </div>
</div>

<mat-toolbar class="footer">
  <div class="footer-content">
    <span class="text-muted">All Rights Reserved 2019 @Semaforce</span>
  </div>

</mat-toolbar>
