/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: white;
}

/*the .container and .upper are two div classes, which when used together,
   center the content on the screen.*/

.container {
  text-align: center;
  padding: 25px;
  display: inherit;
  flex-direction: inherit;
  overflow-y: auto;
  overflow-x: hidden;
}

.upper {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  padding: 10px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 1px #1c1a1a;
  border-radius: 5px;
  width: 75%;
  max-height: 600px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #fff8e1;
}

.home-screen-cards {
  margin: 20% auto;
  width: 75%;
  max-width: 400px;
  text-align: center;
  background-color: #fff8e1;
}

.bg-gray {
  background-color: #ffecb3;
}

.mat-dialog-container {
  padding: 15px;
  text-align: center;
  max-height: 90%;
  overflow-y: auto;
}

mat-grid-list {
  margin: 25px auto;
  width: 95%;
  max-width: 1350px;
}

mat-grid-tile {
  color: black;
  box-shadow: 1px 1px 5px black;
  border-radius: 15px;
}

.home-screen-tile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

.home-screen-tile-content-container {
  text-align: left;
}

p {
  font-size: 18px;
  margin: 5px;
}

h3 {
  font-size: 24px;
  letter-spacing: 0.1em;
  margin: 5px;
}



