/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: whitesmoke;
  background-image: url("~assets/login-back.jpg") !important;

}

/*the .container and .upper are two div classes, which when used together,
   center the content on the screen.*/

.container {
  text-align: center;
  padding: 25px;
  display: inherit;
  flex-direction: inherit;
  overflow-y: auto;
  overflow-x: hidden;
}

.upper {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  padding: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px outset black;
  box-shadow: 3px 3px 3px #1c1a1a;
  border-radius: 5px;
  width: 75%;
  max-height: 600px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgba(245, 245, 245, 0.9);
}

.bg-gray {
  background-color: rgba(231, 225, 240, 0.76);
}

.mat-dialog-container {
  padding: 15px;
}



