.current-workout-summary-container {
  align-content: center;
}

.mat-expansion-panel {
  margin-top: 6px !important;
  margin-bottom: 3px !important;
  background-color: rgba(255, 248, 225, 0.9);
}

.mat-expansion-panel-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mat-expansion-panel-header-description {
  text-align: right;
  display: inline-block;
}

.mat-expansion-panel-header-title {
  vertical-align: center;
  color: black;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: bold;
}

::ng-deep.mat-expansion-panel-content {
  padding: 0 !important;
  overflow-x: auto !important;
  overflow-y: hidden !important;
  background-color: inherit;
}

button {
  margin: 10px 0;
  width: 100%;
  max-width: 300px;
}

table {
  border-spacing: 0;
}

th, td {
  padding: 4px;
  min-width: 52px;
  max-width: 75px;
}

.rest {
  border-right: 2px solid rgba(167, 194, 205, 0.3)
}

thead {
  border-bottom: 2px solid #445963;
}

input {
  border: none;
  border-bottom: 1px solid #455a64;
  background-color: inherit !important;
  text-align: center;
  color: black;
  font-size: 16px;
  font-family: 'Helvetica Neue', sans-serif;
  max-width: 75% !important;
  max-height: 90% !important;
}


::ng-deep.mat-tab-labels {
  background-color: rgba(255, 255, 255, 0.65);
}

::ng-deep.mat-tab-label {
  font-size: 16px;
  font-weight: bolder;
  color: black;
  letter-spacing: 0.15em;
}
.last-set {
  border-bottom: none;
}

.sticky-set-number {
  position: sticky;
  width: 75px;
  left: 0;
  top: auto;
  background-color: rgba(255, 248, 225, 0.9);
}

.sticky-rest-number {
  position: sticky;
  left: 60px;
  top: auto;
  background-color: rgba(255, 248, 225, 0.9);
}

.coming-week {
  display: none;
}

button {
  font-size: 16px;
  letter-spacing: 0.15em;
}

.rpe{
  border-right: 2px solid rgba(167, 194, 205, 0.3)
}

.canceled-set {
  background-color: lightgray;
  padding: 5px;
}

.add-exercise-container {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  text-align: center;
  padding: 15px;
}

.enter-sets-input {
  border: none
}

.add-exercise-button {
  margin: 15px auto;
}

mat-form-field {
  width: 75%;
  margin: 5px auto;
  text-align: center;
}
