mat-card {
  margin: 10px auto;
  width: 90%;
  max-width: 500px;
  text-align: center;
  background-color: rgba(255, 248, 225, 0.9);
}

::ng-deep.mat-progress-bar-buffer {
  background-color: #cfd8dc;
}

::ng-deep.mat-progress-bar {
  background-color: #1c313a;
  height: 7px !important;
}

.active-completed-toggle-button {
  width: 50%;
  font-size: 16px;
  letter-spacing: 0.1em;
  margin: 0 2px;
}

.active-completed-toggle-container {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  max-width: 450px;
}

.underline-option {
  text-decoration: underline;
}

mat-expansion-panel {
  box-shadow: none !important;
  background-color: inherit;
  padding: 0;
}

.remove-goal-button {
  float: right;
}

p {
  font-size: 16px;
  line-height: 1.5em;
}

::ng-deep.mat-expansion-panel-body {
  padding: 0;
}

.add-goal-card {
  background-color: #37474f;
  color: #fff8e1;
}

.add-goal-subtitle {
  color: #fff8e1;
}
