<div class="active-completed-toggle-container">
  <button class="active-completed-toggle-button"
          mat-stroked-button
          (click)="showActiveGoals()"
          [class.underline-option]="selectedOption === 1">Show Active
  </button>
  <button class="active-completed-toggle-button"
          mat-stroked-button
          [class.underline-option]="selectedOption === 2"
          (click)="showCompletedGoals()">Show Completed
  </button>
</div>

<mat-card *ngFor="let goal of goals let index=index">
  <mat-card-title>{{goal.title}}</mat-card-title>
  <mat-card-subtitle>{{goal.subTitle}}</mat-card-subtitle>
  <mat-card-content>
    <mat-progress-bar mode="determinate" [value]="goal.completionPercentage"></mat-progress-bar>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Details
      </mat-expansion-panel-header>
      <p>
        This goal was set on {{goal.startedDate | date}} <br>
        Percentage completed: {{goal.completionPercentage > 100 ? 100 : goal.completionPercentage}}% <br>
        This goal was {{showCompleted ? 'completed' : 'last updated'}} on {{goal.lastUpdateDate | date}}
      </p>

      <button
        class="remove-goal-button"
        mat-button (click)="removeGoal(goal.id, index)">Remove Goal</button>

    </mat-expansion-panel>

  </mat-card-content>


</mat-card>
<mat-card (click)="router.navigateByUrl('/results/add_goals')">
  <mat-card-title>
    Set New Goals!
  </mat-card-title>
  <mat-card-subtitle>
    Click here to create new goals
  </mat-card-subtitle>
</mat-card>
