mat-card {
  margin: 15px auto;
  width: 90%;
  max-width: 500px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.95);
}

::ng-deep.mat-progress-bar-buffer {
  background-color: #cfd8dc;
}

::ng-deep.mat-progress-bar{
  background-color: #1c313a;
  height: 7px !important;
}

.active-completed-toggle-button {
  width: 50%;
  background-color: whitesmoke;
  font-size: 16px;
  letter-spacing: 0.1em;
}

.active-completed-toggle-container {
  padding: 0 !important;
  background-color: rgba(245, 245, 245, 0);
}

.underline-option{
  text-decoration: underline;
}
