mat-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px auto;
  width: 90%;
}

.chart-selection-card {
  max-width: 750px;
  background-color: rgba(245, 245, 245, 0.95);
  padding: 0;

}

.chart-selection-card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
}

mat-form-field {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

button {
  width: 50%;
  max-width: 300px;
  margin: 0 auto;
}
