mat-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px auto;
  width: 90%;
  box-shadow: none !important;
}

.chart-selection-card {
  max-width: 750px;
  padding: 0;
}

.chart-selection-card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

img {
  margin: 0 auto;
  width: 75%;
}

mat-form-field {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

button {
  width: 50%;
  max-width: 300px;
  margin: 0 auto;
}
