<div class="current-workout-container">

  <mat-checkbox
    *ngIf="(isWeb$ | async)"
    [(ngModel)]="showCondensed">
    Compact mode
  </mat-checkbox>
  <app-show-current-workout
    [class.invisible]="showCondensed"
    [allTrainingDays]="allTrainingDays"></app-show-current-workout>

  <div class="condensed-workout-holder">
    <app-show-workout-condensed
      [allTrainingDays]="allTrainingDays"
      (addResultsEvent)="AddResults($event[0], $event[1])"
      *ngIf="!(isWeb$| async) || showCondensed"></app-show-workout-condensed>
  </div>
</div>

