.current-workout-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.invisible {
  display: none;
}

.condensed-workout-holder{
  max-width: 1250px;
  width: 97%;
  margin: 15px auto;
}

mat-checkbox {
  margin: 10px 0 0 75%;
  color: black;
  font-size: 16px;
  background-color: rgba(245, 245, 245, 0.45);
  width: fit-content;
  padding: 0 5px;
}
